<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderSummary">

		<insert id="insert" parameterType="OrderSummary">
			insert into order_summary(order_summary_id, member_id,total_price, order_state_id,paymethod_id)
			values(seq_order_summary.nextval, #{member_id},#{total_price}, 1 ,#{paymethod_id})
			
			<selectKey order="AFTER" keyProperty="order_summary_id" resultType="int">
				select seq_order_summary.currval as order_summary_id from dual
			</selectKey>
		</insert>
	
	<!-- paymethod랑 order_state 엮기 -->
		<resultMap id="orderPaymethodState"  	type="OrderSummary">
			<id column="order_summary_id"		property="order_summary_id"/>
			<result column="member_id"          property="member_id"/>
			<result column="total_price" 		property="total_price"/>
			<result column="order_state_id" 	property="order_state_id"/>
			<result column="paymethod_id" 		property="paymethod_id"/>
	<!--1:1 관계이므로 association  -->
			<association 
			column="order_state_id"
			property="order_state_id"
			javaType="OrderState"
			select="OrderState.select"/>  			
	<!--1:1 관계이므로 association  -->		  
			<association 
			column="paymethod_id"
			property="paymethod_id"
			javaType="Paymethod"
			select="Paymethod.select"/> 
		</resultMap>
		
		<select id="selectAll" resultMap="orderPaymethodState">
			select order_summary_id,member_id,total_price,orderdate,order_state_id,paymethod_id from order_summary
		</select>
		
		<!-- 멤버아이디로 order_summary 조회하기 -->
		<select id="select" parameterType="int" resultMap="orderPaymethodState">
			select * from order_summary where member_id=#{member_id}
		</select>
		
</mapper>